.container {
    margin: 14px 12px 0 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.heading {
    font-size: 20px;
    font-weight: 400;
}

.reads {
    width: 456px;
    height: 268px;
    border: 1.03px solid rgba(0, 0, 0, 1);
    border-collapse: collapse;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.read1 {
    grid-column: 1/3;
    border-bottom: 1.03px solid rgba(0, 0, 0, 1);
}
.read2 {
    border-right: 1.03px solid rgba(0, 0, 0, 1);
}

.read3 {
    /* border: 1.03px solid rgba(0, 0, 0, 1) */
}

.btn {
    position: absolute;
    right: 12px;
    bottom: 6px;
}

.heroes {
    margin-top: 26px;
    display: flex;
    gap: 24px;
}
.heroes div {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #fff;
}
