.top {
    margin-bottom: 28px;
}

.heading {
    font-weight: 500;
    font-size: 24px;
    padding: 5px 16px;
    position: relative;
}

.heading:after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    position: absolute;
    left: 272px;
    bottom: 21px;
    width: 900px;
    /* height: 100px;; */
}

.heroes {
    display: flex;
    gap: 32px;
}
