.footer {
    background-color: #8d99ae;
    position: relative;
    width: 100%;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
    padding: 20px 0;
}

.column_caption {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding: 15px;
}

.column_paragraph {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.51);
    cursor: pointer;
}

.test {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.51);
    width: 100%;
}

.test::before {
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        align-items: start;
        padding: 5% 5%;
    }

    .grid_container div:last-child {
        grid-column: span 2;
        width: 100%;
    }
}
