#homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#nav {
    position: absolute;
    width: 100%;
    height: 97px;
    left: 0px;
    top: 0px;
    display: flex;

    /* Grey */
    background: #8d99ae;
    align-items: center;
}

#nav span {
    width: 200px;
    height: 60px;
    background: #d9d9d9;
    margin-left: 50px;
    margin-right: 120px;
}
#nav a {
    margin-right: 70px;
}
#nav input {
    margin-right: 120px;
}

.heroContainer1 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    margin-left: 5%;
    max-width: 100%;
    height: 559px;
    margin-right: 0px;
    margin-top: 129px;
}
.heroContentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.heroContainer2 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 5%;
    margin-right: 0px;
    gap: 24px;
    max-width: 100%;
    height: 559px;
    overflow: hidden;
}

#laContainer {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 1294px;
}

#laContainer h1 {
    width: 372px;
    height: 78px;

    /* H3 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;

    /* identical to box height, or 150% */

    color: rgba(0, 0, 0, 0.8);
}

.boxOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 333px;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    /* or 150% */

    color: whitesmoke;
}

.boxInner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 457px;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    /* or 150% */

    color: whitesmoke;
}

.boxInner p,
.boxOuter p {
    width: 80%;
}
