.navbar {
    position: sticky; /* figure out abt sticky */
    width: 100%;
    top: 0;
    height: 97px;
    background-color: #8d99ae;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 5%; */
    z-index: 1;
}

.logo_container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.logo_image {
    border-radius: 50%;
    cursor: pointer;
}

.link_container {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-grow: 3;
}

.link_item {
    position: relative;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.link_item_active {
    border-color: black;
}

.search_bar_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 305px;
    height: 44px;
    border: 2px solid black;
    border-radius: 5px;
    flex-grow: 1;
    margin: 0 10px;
}

.search_bar_svg {
    position: absolute;
    left: 12px;
}

.search_bar {
    position: absolute;
    left: 42px;
    right: 0;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: black;
}

.search_bar::placeholder {
    color: black;
}

.profile_icon_container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

@media only screen and (max-width: 1000px) {
    .search_bar_container {
        display: none;
    }

    .link_container {
        font-size: 18px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    .link_container {
        font-size: 12px;
        flex-grow: 3;
    }
}
