/* placeholder styles */

.title {
    font-size: 48px;
    font-weight: 400;
    border-bottom: 1px solid #8d99ae;
    padding: 16px;
}

.container {
    padding: 0px 0px 0px 48px;
}

.paragraph {
    font-size: 18px;
    line-height: 150%;
    width: 75%;
    font-weight: 400;
    margin: 40px 0px 40px 0px;
}

.aboutAuthorTitle {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.primaryButton {
    background: #2b2d42;
    padding: 15px 60px;
    border-radius: 8px;
    margin-left: 30px;
}

.secondaryButton {
    background: #ffffff;
    color: #2b2d42;
    border: 3px solid #2b2d42;
    padding: 15px 15px;
    border-radius: 8px;
}

.tertiaryButton {
    background: none;
    color: #1a1a1a;
    border: none;
    display: flex;
    font-size: 18px;
    align-items: center;
}

.tertiaryButton span {
    margin-left: 10px;
}

.buttonGroup {
    margin: 42px 0px 42px 0px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .buttonGroup {
        width: 75%;
    }
}

@media screen and (max-width: 900px) {
    .buttonGroup {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .buttonGroup {
        flex-wrap: wrap;
    }

    .modifyButtons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .primaryButton {
        padding: 20px 100px;
    }

    .secondaryButton {
        padding: 20px 50px;
    }
}
